<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV" />
      <remove name="FastCGI" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe --max-old-space-size=8192" watchedFiles="web.config;*.js" />

    <rewrite>
      <rules>
        <rule name="nodejs" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering removeServerHeader="true">
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".gitignore" />
          <add segment="install-windows-service.js" />	
          <add segment="log.js" />	  	  
          <add segment="package.json" />
          <add segment="package-lock.json" />		
          <add segment="iisnode" />
          <add segment=".env" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer> 
</configuration>
